## Merapikan tabel file output dari software perencanaan event okultasi [Nama Softwarenya?]

### Import Modul yang dibutuhkan

In [1]:
import pandas as pd
import os
import glob

### Input user tentang file input dan baris pertama header

In [2]:
file_input       = 'LO-Mar-May2022.txt'
# file_input       = 'LO-Mar-May2022_dari Bre.txt'
header_line     = 3

###  Buat file output.txt yang berisi tabel referensi

In [3]:
file = open(file_input,'r')
data_in = file.readlines()

file_out = open('tabel_output.txt','w')
file_out.write(data_in[header_line])
file_out.write(data_in[header_line+1])


for line in data_in[header_line:]:
	if line[0] != ' ':
		file_out.write(line)

file_out.close()

###  Membuat header baru gabungan header baris 1 dan baris 2

In [4]:
def merger_title_n_subs(title,sub):
    n = len(sub)
    for a,b in zip([title]*len(sub),sub):
        header_labels_final.append(a+'_'+b)

def add_header(n1, n2):
    if str(n1) != '0' and str(n2) != '0':
        header_labels_final.append(header_labels1[n1]+'_'+header_labels2[n2])
    elif str(n2) == '0':
        header_labels_final.append(header_labels1[n1])
    elif str(n1) == '0':
        header_labels_final.append(header_labels2[n2])

def cons_add_header(n1, n2 , loops_num):
    for i in range(loops_num):
        header_labels_final.append(header_labels1[n1]+'_'+header_labels2[n2])
        n1,n2 = n1+1, n2+1

In [5]:
header_labels1 = data_in[header_line].split()
header_labels2 = data_in[header_line+1].split()
header_labels_final = []

merger_title_n_subs(header_labels1[0],header_labels2[:3])
merger_title_n_subs(header_labels1[1],header_labels2[3:6] )
add_header(2,0)
cons_add_header(3,6,4)
add_header(0,10)
add_header(7,11)
add_header(8,0)
add_header(9,12)
merger_title_n_subs(header_labels1[10],header_labels2[13:15])
cons_add_header(11,15,4)
merger_title_n_subs(header_labels1[15],header_labels2[19:21])
cons_add_header(16,21,5)
merger_title_n_subs(header_labels1[21],header_labels2[26:29])
del(header_labels1[21])
merger_title_n_subs(header_labels1[22],header_labels2[29:32])
cons_add_header(23,32,2)

print(header_labels_final)

['day_y', 'day_m', 'day_d', 'Time_h', 'Time_m', 'Time_s', 'P', 'Star_No', 'Sp_D', 'Mag_v', 'Mag_r', 'V', '%_ill', 'Elon', 'Sun_Alt', 'Moon_Alt', 'Moon_Az', 'CA_o', 'PA_o', 'VA_o', 'AA_o', 'Libration_L', 'Libration_B', 'A_m/o', 'B_m/o', 'RV_"/s', 'Cct_o', 'durn_sec', 'R.A._h', 'R.A._m', 'R.A._s', 'Dec_o', 'Dec_m', 'Dec_s', 'Mdist_Mm', 'SV_m/s']

### Membuat dictionary dan menjadikan label kolom sebagai keys dari dictionary

In [6]:
hasil_tabel = {}
for label in header_labels_final: hasil_tabel[label] = []
    
print(hasil_tabel)

{'day_y': [], 'day_m': [], 'day_d': [], 'Time_h': [], 'Time_m': [], 'Time_s': [], 'P': [], 'Star_No': [], 'Sp_D': [], 'Mag_v': [], 'Mag_r': [], 'V': [], '%_ill': [], 'Elon': [], 'Sun_Alt': [], 'Moon_Alt': [], 'Moon_Az': [], 'CA_o': [], 'PA_o': [], 'VA_o': [], 'AA_o': [], 'Libration_L': [], 'Libration_B': [], 'A_m/o': [], 'B_m/o': [], 'RV_"/s': [], 'Cct_o': [], 'durn_sec': [], 'R.A._h': [], 'R.A._m': [], 'R.A._s': [], 'Dec_o': [], 'Dec_m': [], 'Dec_s': [], 'Mdist_Mm': [], 'SV_m/s': []}

### Memisahkan baris data dan baris catatan khusus

In [7]:
data_lines = []

for line in data_in[header_line:]:
	if line[0] != ' ':
		data_lines.append(line)

for i in range(5):
    print(data_lines[i])

22 Mar  5 11 48 46.2 D  109722SG5  8.9  8.6    8+  34 -11 19 278  84S  78 339  99 +4.7 +3.4 +0.8+0.7 .439  -16.7      1 11 53.7   4 52 43 385.5 856.1

22 Mar  5 11 57 52.6 d  109724 F8  9.6  9.4    8+  34     17 277  85S  77 338  98 +4.7 +3.4 +0.7+0.7 .449  -15.0      1 12  8.0   4 54 58 385.8 870.6

22 Mar  5 12 56 58.9 d  109743 F8  7.7  7.4    9+  34      3 276  87S  74 337  95 +4.6 +3.4 +0.2+0.7 .510   -9.2      1 13 51.6   5  8 31 387.6 970.1

22 Mar  6 12 51 49.8 D     293 G5  7.6  7.1   15+  46     14 283  78S  83 343 102 +4.2 +2.1 +0.6+0.5 .432  -16.1      2  0 22.7  10 37 48 391.1 853.3

22 Mar  6 13 24 50.3 d   92752 K0  8.8  8.2   15+  46      6 282  74N  55 317  74 +4.2 +2.1 +0.4+1.4 .466   13.3      2  1  9.9  10 50 23 392.1 910.5

### Mengisi kolom tabel data dengan tabel file input, dengan memisahkan baris note ke kolom baru

<p>Setiap kolom pada Tabel file output memiliki 'jatah' lebar dalam satuan banyaknya karakter. <br>
Contohnya: kolom 1 ('day_y') memiliki lebar 2 karakter.<br>
lebar karakter ini yang ditentukan secara manual dan disimpan dalam bentuk list dalam var 'col_space'.</p>

In [8]:
hasil_tabel = {}
for label in header_labels_final: hasil_tabel[label] = []

col_space = [3,4,3,3,3,4,3,7,4,5,4,3,3,4,4,3,4,5,4,4,4,\
            5,5,5,5,5,6,4,3,3,5,4,3,3,6,6]


nama_label = {}
for a,b in zip(header_labels_final[:len(col_space)],col_space):
    nama_label[a] = b

NOTES  = []
i_note = 0
is_data_line =False

for line in data_in[header_line+2:]:
    
    if line[0] != ' ':
        start = 0
        n = 0
        #print(i_note,line[0], 'data!',line)
        for ind in col_space: 
            hasil_tabel[header_labels_final[n]].append(line[start:start+ind])
            start = start + ind
            n = n + 1
        
        if is_data_line == True:
            NOTES.append(' ')
        if is_data_line == False:
            pass
            
        i_note = i_note + 1
        is_data_line = True
            
    else:
        #print(i_note,line[0],'notes!',line)
        if is_data_line == True:
            NOTES.append(line[:-1])
        elif is_data_line == False:
            NOTES[-1] = NOTES[-1] +' ; ' + line[:-1]
        is_data_line = False

hasil_tabel['NOTES'] = NOTES

In [9]:
print(len(NOTES))
print(len(hasil_tabel['day_d']))

165
165

### Ubah dictionary ke dataframe pandas

In [10]:
# hasil_tabel

In [11]:
hasil_tabel = pd.DataFrame(hasil_tabel)

In [12]:
hasil_tabel.columns

Index(['day_y', 'day_m', 'day_d', 'Time_h', 'Time_m', 'Time_s', 'P', 'Star_No',
       'Sp_D', 'Mag_v', 'Mag_r', 'V', '%_ill', 'Elon', 'Sun_Alt', 'Moon_Alt',
       'Moon_Az', 'CA_o', 'PA_o', 'VA_o', 'AA_o', 'Libration_L', 'Libration_B',
       'A_m/o', 'B_m/o', 'RV_"/s', 'Cct_o', 'durn_sec', 'R.A._h', 'R.A._m',
       'R.A._s', 'Dec_o', 'Dec_m', 'Dec_s', 'Mdist_Mm', 'SV_m/s', 'NOTES'],
      dtype='object')

In [13]:
hasil_tabel['day_m'].astype('str').dtypes

dtype('O')

In [14]:
hasil_tabel['Mag_v'].dtypes

dtype('O')

In [15]:
hasil_tabel['Mag_v']

0       8.9
1       9.6
2       7.7
3       7.6
4       8.8
       ...
160    -4.0
161     4.3
162     4.3
163    -4.0
164     8.2
Name: Mag_v, Length: 165, dtype: object

In [16]:
hasil_tabel[hasil_tabel['Mag_v'] < '8']

,day_y,day_m,day_d,Time_h,Time_m,Time_s,P,Star_No,Sp_D,Mag_v,...,durn_sec,R.A._h,R.A._m,R.A._s,Dec_o,Dec_m,Dec_s,Mdist_Mm,SV_m/s,NOTES
0,22,Mar,5,11,48,46.2,D,109722,SG5,8.9,...,,1,11,53.7,4,52,43,385.5,856.1,"109722 is triple: AB 9.0 11.2 10.2"" 302.0,..."
1,22,Mar,5,11,57,52.6,d,109724,F8,9.6,...,,1,12,8.0,4,54,58,385.8,870.6,
2,22,Mar,5,12,56,58.9,d,109743,F8,7.7,...,,1,13,51.6,5,8,31,387.6,970.1,
3,22,Mar,6,12,51,49.8,D,293,G5,7.6,...,,2,0,22.7,10,37,48,391.1,853.3,
4,22,Mar,6,13,24,50.3,d,92752,K0,8.8,...,,2,1,9.9,10,50,23,392.1,910.5,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
160,22,May,27,2,15,9.4,D,Venus,,-4.0,...,,1,46,43.1,8,52,53,388.8,532.4,Venus contacts: Dark limb 2 14 40; Termina...
161,22,May,27,2,47,39,Gr,257,cK0,4.3,...,=-10,.56,+0.,98(E.,Long,-10,7.6,2)]\n,,
162,22,May,27,2,55,10,M,257,cK0,4.3,...,,1,45,23.6,9,9,28,389.0,608.9,R257 = Torcular = omicron Piscium ; ...
163,22,May,27,3,51,0.2,R,Venus,,-4.0,...,,1,46,43.1,8,52,53,389.5,536.7,Venus contacts: Dark limb 3 50 31; Termina...
164,22,May,27,22,13,26.1,R,359,cB9,8.2,...,,2,26,27.0,12,53,56,395.7,901.3,"359 is double: ** 8.6 8.6 0.10"" 35.0, ..."

### Buat dan simpan dataframe ke file excel

#### membuat nama file .xlsx output

In [19]:
nama_file = 'Tabel output_'+file_input.split('.')[0]+'.xlsx'

#### menghapus file yang bernama sama dengan file .xlsx output, jika sudah ada sebelumnya

Jika file yang bernama sama dengan file .xlsx output ada, harap ditutup terlebih dahulu agar python bisa menghapusnya

In [20]:
if len(glob.glob(nama_file)) != 0:
    os.remove(nama_file)

#### simpan dataframe ke dalam file .xlsx

In [27]:
file_excel = pd.ExcelWriter(nama_file)
hasil_tabel.to_excel(file_excel)
file_excel.save()