## Merapikan tabel file output dari software perencanaan event okultasi Occult v.4

### Import Modul yang dibutuhkan

In [1]:
import pandas as pd
import os
import glob

### Input user tentang file input dan baris pertama header

In [2]:
file_input      = '2022-July.txt'
header_line     = 3

###  Buat file output.txt yang berisi tabel referensi

Baris yang dibaca dari file output software Occult disimpan seluruhnya kecuali 3 baris paling bawah. Tiga baris tersebut merupakan baris kosong.<'/br'> (NOTE MAS PJ: Tolong periksa ya mas, apakah file output software ini selalu begini perilakunya )

In [3]:
file = open(file_input,'r')
data_in = file.readlines()

file_out = open('tabel_output.txt','w')
file_out.write(data_in[header_line])
file_out.write(data_in[header_line+1])

print(len(data_in))

i = header_line+2
for line in data_in[header_line:]:
	if line[0] != ' ':
		file_out.write(line)

file_out.close()

data_in = data_in[:-3]

94

###  Membuat header baru gabungan header baris 1 dan baris 2

In [4]:
def merger_title_n_subs(title,sub):
    n = len(sub)
    for a,b in zip([title]*len(sub),sub):
        header_labels_final.append(a+'_'+b)

def add_header(n1, n2):
    if str(n1) != '0' and str(n2) != '0':
        header_labels_final.append(header_labels1[n1]+'_'+header_labels2[n2])
    elif str(n2) == '0':
        header_labels_final.append(header_labels1[n1])
    elif str(n1) == '0':
        header_labels_final.append(header_labels2[n2])

def cons_add_header(n1, n2 , loops_num):
    for i in range(loops_num):
        header_labels_final.append(header_labels1[n1]+'_'+header_labels2[n2])
        n1,n2 = n1+1, n2+1

In [5]:
header_labels1 = data_in[header_line].split()
header_labels2 = data_in[header_line+1].split()
header_labels_final = []

merger_title_n_subs(header_labels1[0],header_labels2[:3])
merger_title_n_subs(header_labels1[1],header_labels2[3:6] )
add_header(2,0)
cons_add_header(3,6,4)
add_header(0,10)
add_header(7,11)
add_header(8,0)
add_header(9,12)
merger_title_n_subs(header_labels1[10],header_labels2[13:15])
cons_add_header(11,15,4)
merger_title_n_subs(header_labels1[15],header_labels2[19:21])
cons_add_header(16,21,5)
merger_title_n_subs(header_labels1[21],header_labels2[26:29])
del(header_labels1[21])
merger_title_n_subs(header_labels1[22],header_labels2[29:32])
cons_add_header(23,32,2)

print(header_labels_final)

['day_y', 'day_m', 'day_d', 'Time_h', 'Time_m', 'Time_s', 'P', 'Star_No', 'Sp_D', 'Mag_v', 'Mag_r', 'V', '%_ill', 'Elon', 'Sun_Alt', 'Moon_Alt', 'Moon_Az', 'CA_o', 'PA_o', 'VA_o', 'AA_o', 'Libration_L', 'Libration_B', 'A_m/o', 'B_m/o', 'RV_"/s', 'Cct_o', 'durn_sec', 'R.A._h', 'R.A._m', 'R.A._s', 'Dec_o', 'Dec_m', 'Dec_s', 'Mdist_Mm', 'SV_m/s']

### Menambah kolom keterangan untuk beberapa kolom

In [6]:
header_labels_final = header_labels_final[:10] + ['note_Mag_v'] + header_labels_final[10:]
header_labels_final = header_labels_final[:14] + ['sign_%_ill'] + header_labels_final[14:]
header_labels_final = header_labels_final[:20] + ['sign_CA_o'] + header_labels_final[20:]

#print(header_labels_final[:25])
#header_labels_final = header_labels_final[:25] + ['sign_Libration_L'] + [header_labels_final[25]] + ['sign_Libration_B'] + header_labels_final[26:]

print(header_labels_final)

['day_y', 'day_m', 'day_d', 'Time_h', 'Time_m', 'Time_s', 'P', 'Star_No', 'Sp_D', 'Mag_v', 'note_Mag_v', 'Mag_r', 'V', '%_ill', 'sign_%_ill', 'Elon', 'Sun_Alt', 'Moon_Alt', 'Moon_Az', 'CA_o', 'sign_CA_o', 'PA_o', 'VA_o', 'AA_o', 'Libration_L', 'Libration_B', 'A_m/o', 'B_m/o', 'RV_"/s', 'Cct_o', 'durn_sec', 'R.A._h', 'R.A._m', 'R.A._s', 'Dec_o', 'Dec_m', 'Dec_s', 'Mdist_Mm', 'SV_m/s']

### Membuat dictionary dan menjadikan label kolom sebagai keys dari dictionary

In [7]:
hasil_tabel = {}
for label in header_labels_final: hasil_tabel[label] = []

### Memisahkan baris data dan baris catatan khusus

In [8]:
data_lines = []

for line in data_in[header_line:]:
	if line[0] != ' ':
		data_lines.append(line)

### Mengisi kolom tabel data dengan tabel file input, dengan memisahkan baris note ke kolom baru

<p>Setiap kolom pada Tabel file output memiliki 'jatah' lebar dalam satuan banyaknya karakter. <br>
Contohnya: kolom 1 ('day_y') memiliki lebar 2 karakter.<br>
lebar karakter ini yang ditentukan secara manual dan disimpan dalam bentuk list dalam var 'col_space'.</p>

Pada baris data prediksi peristiwa 'GRAZE', kolom 'Az_Moon' dan seterusnya akan kosong dan kolom 'NOTES' akan diisi informasi catatan peristiwa graze hasil output. (Edit version: 31 March 2022)

In [9]:
hasil_tabel = {}
for label in header_labels_final: hasil_tabel[label] = []

col_space = [3,4,3,3,3,4,3,7,4,4,1,4,2,3,1,4,4,3,4,4,1,4,4,4,5,5,5,5,5,6,4,3,3,5,4,3,3,6,6]


nama_label = {}
for a,b in zip(header_labels_final[:len(col_space)],col_space):
    nama_label[a] = b

NOTES  = []
is_data_line =False
index = 0
for line in data_in[header_line+2:]:
    if line[0] != ' ': 
        start = 0
        n = 0
        
        for ind in col_space: 
            hasil_tabel[header_labels_final[n]].append(line[start:start+ind])
            start = start + ind
            n = n + 1
        
        if is_data_line == True:
            NOTES.append(' ')
        elif is_data_line == False:
            pass
        is_data_line = True
        
        if hasil_tabel['Moon_Az'][-1] == ' ** ':
            for i in range(16,len( header_labels_final)):
                hasil_tabel[header_labels_final[i]][-1] = ' ' * col_space[i] 
            
            NOTES.append(line[61:])
            
            is_data_line = False
        
    else:
        #print(i_note,line[0],'notes!',line)
        if is_data_line == True:
            NOTES.append(line[:-1])
        elif is_data_line == False:
            NOTES[-1] = NOTES[-1] +' ; ' + line[:-1]
        is_data_line = False
    
    if index == 0:
        print(hasil_tabel)
    index=index + 1

hasil_tabel['NOTES'] = NOTES

{'day_y': ['22 '], 'day_m': ['Jul '], 'day_d': [' 1 '], 'Time_h': ['11 '], 'Time_m': [' 3 '], 'Time_s': ['35.6'], 'P': [' D '], 'Star_No': ['   1274'], 'Sp_D': ['cF0 '], 'Mag_v': [' 5.7'], 'note_Mag_v': [' '], 'Mag_r': [' 5.5'], 'V': ['s '], '%_ill': ['  5'], 'sign_%_ill': ['+'], 'Elon': ['  25'], 'Sun_Alt': ['  -5'], 'Moon_Alt': [' 20'], 'Moon_Az': [' 299'], 'CA_o': ['  82'], 'sign_CA_o': ['N'], 'PA_o': ['  85'], 'VA_o': [' 338'], 'AA_o': ['  71'], 'Libration_L': [' -4.0'], 'Libration_B': [' -6.4'], 'A_m/o': [' +1.2'], 'B_m/o': ['+0.5 '], 'RV_"/s': ['.368 '], 'Cct_o': ['  31.8'], 'durn_sec': ['    '], 'R.A._h': ['  8'], 'R.A._m': [' 31'], 'R.A._s': [' 30.5'], 'Dec_o': ['  24'], 'Dec_m': ['  4'], 'Dec_s': [' 52'], 'Mdist_Mm': [' 402.7'], 'SV_m/s': [' 845.3']}

In [10]:
print(len(NOTES))
print(len(hasil_tabel['day_d']))
print()
print(NOTES[-1])
print(hasil_tabel['day_d'][-1])

55
55

      1569 = HD 93273, 6.903, , Type VAR
31

In [11]:
# hasil_tabel

### Ubah dictionary ke dataframe pandas

In [20]:
hasil_df = pd.DataFrame(hasil_tabel)
hasil_df.head()

,day_y,day_m,day_d,Time_h,Time_m,Time_s,P,Star_No,Sp_D,Mag_v,...,durn_sec,R.A._h,R.A._m,R.A._s,Dec_o,Dec_m,Dec_s,Mdist_Mm,SV_m/s,NOTES
0,22,Jul,1,11,3,35.6,D,1274,cF0,5.7,...,,8,31,30.5,24,4,52,402.7,845.3,R1274 = upsilon 1 Cancri ; 1274 = NSV...
1,22,Jul,1,11,44,57.3,D,80235,G0,8.6,...,,8,32,24.2,23,44,47,403.6,918.4,
2,22,Jul,1,11,49,19,M,80234,cA0,8.6,...,,8,32,15.6,24,8,12,403.8,927.7,
3,22,Jul,1,11,49,33,Gr,80234,cA0,8.6,...,,,,,,,,,,** GRAZE: CA 21.5N; Dist. 42km in az. 208deg. ...
4,22,Jul,1,12,11,34,M,1279,cG9,6.4,...,,8,33,0.1,24,5,5,404.3,967.9,R1279 = upsilon 2 Cancri

### Konversi tipe data untuk kolom berisi data angka

Baris kosong akan dikonversi menjadi tipe data float dengan nilai NaN. Kolom Dec_o membutuhkan perlakuan khusus. Di kolom tersebut tanda minus akan terpisah dari angka jika angka bernilai satuan.

In [13]:
#df = df.astype({"a": int, "b": complex})]
# Problems:
#Mag_v   : ada yang pakai *
#Mag_r   : ada yang kosong
#%_ill   : pakai +/-
#Sun_alt : banyak yang kosong
#Moon_ALt: ada yg kosong--> graze event


result_Dec_o = []
for i in range(len(hasil_df['Dec_o'])):
    try: result = float(hasil_df['Dec_o'][i])
    except: result = float(hasil_df['Dec_o'][i][1]+'1')*float(hasil_df['Dec_o'][i][-1]+'1')
        
    result_Dec_o.append(str(result))

hasil_df['Dec_o'] = result_Dec_o

    
tipe_data_kolom= [int, str, int, int, int, float, str, str, str, \
                  float, str, float, str, int, str, int, float, float, float, float, str, \
                  float, float, float, float, float] + [float]*13
all_type = {}

for i in range(len(tipe_data_kolom)):
    all_type[header_labels_final[i]] = tipe_data_kolom[i]


#print(hasil_tabel.iloc[:,15:17])

hasil_df['Mag_r']    = hasil_df['Mag_r'].mask(hasil_df['Mag_r'] == '    ')
hasil_df['Sun_Alt']  = hasil_df['Sun_Alt'].mask(hasil_df['Sun_Alt'] == '    ')



for i in range(16,len(header_labels_final)):
    hasil_df[header_labels_final[i]] =  hasil_df[header_labels_final[i]].mask(hasil_df[header_labels_final[i]] == ' ' * col_space[i])
    #hasil_tabel['Moon_Alt'] = hasil_tabel['Moon_Alt'].mask(hasil_tabel['Moon_Alt'] == '   ')

#print(all_type) 
hasil_df.iloc[:,:len(tipe_data_kolom)] = hasil_df.iloc[:,:len(tipe_data_kolom)].astype(all_type)

In [23]:
hasil_df.dtypes

day_y          object
day_m          object
day_d          object
Time_h         object
Time_m         object
Time_s         object
P              object
Star_No        object
Sp_D           object
Mag_v          object
note_Mag_v     object
Mag_r          object
V              object
%_ill          object
sign_%_ill     object
Elon           object
Sun_Alt        object
Moon_Alt       object
Moon_Az        object
CA_o           object
sign_CA_o      object
PA_o           object
VA_o           object
AA_o           object
Libration_L    object
Libration_B    object
A_m/o          object
B_m/o          object
RV_"/s         object
Cct_o          object
durn_sec       object
R.A._h         object
R.A._m         object
R.A._s         object
Dec_o          object
Dec_m          object
Dec_s          object
Mdist_Mm       object
SV_m/s         object
NOTES          object
dtype: object

### Buat dan simpan dataframe ke file excel

#### membuat nama file .xlsx output

In [14]:
nama_file = 'Tabel output_'+file_input.split('.')[0]+'.xlsx'

#### menghapus file yang bernama sama dengan file .xlsx output, jika sudah ada sebelumnya

Jika file yang bernama sama dengan file .xlsx output ada, harap ditutup terlebih dahulu agar python bisa menghapusnya

In [15]:
try:
    if len(glob.glob(nama_file)) != 0:
        os.remove(nama_file)
except PermissionError:
    print('File output tidak bisa ditulis. \n Coba tutup file :', nama_file)

#### simpan dataframe ke dalam file .xlsx

In [17]:
try:
    file_excel = pd.ExcelWriter(nama_file)
    hasil_df.to_excel(file_excel)
    file_excel.save()
    print('File output berhasil ditulis ke dalam file :', nama_file)
except PermissionError:
    print('File output tidak bisa ditulis. \n Coba tutup file :', nama_file)

File output berhasil ditulis ke dalam file : Tabel output_2022-July.xlsx